@charset "UTF-8";
/* Font-family */
/* Font-size */
/* Margins & Paddings */
/* Colors */
/* Border-radius */
/* Height */
html {
  font-size: 62.5%;
}

* {
  list-style-type: none;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: OpenSans-Regular;
  font-size: 1.4rem;
  color: #070439;
}

@font-face {
  font-family: OpenSans-Regular;
  src: url(../../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: OpenSans-Bold;
  src: url(../../fonts/OpenSans-Bold.ttf);
}
@font-face {
  font-family: Raleway-Regular;
  src: url(../../fonts/Raleway-Regular.ttf);
}
@font-face {
  font-family: Raleway-Bold;
  src: url(../../fonts/Raleway-Bold.ttf);
}
/* Input */
.register__input {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.register__input input {
  border: 1px #070439 solid;
  border-radius: 3px;
  padding-left: 20px;
  margin: 19px 0 16px;
  height: 36px;
  font-size: 1.2rem;
}
.register__input input::placeholder {
  color: #bfbfbf;
  font-family: Raleway-Regular;
}
.register__input input:not(:focus):invalid {
  border: 1px #eb9393 solid;
  margin-bottom: 5px;
  /* Remove margin-bottom when the input is invalid */
}
.register__input input:not(:focus):invalid ~ span {
  display: flex;
  /* Show the error message */
  color: #eb9393;
  font-size: 1rem;
  margin-bottom: 10px;
  /* Create a margin-bottom between the error message and the button */
}
.register__input span {
  display: none;
  /* Hide the error message */
}

/* Input : Presention */
#presentation__text__register__input {
  margin-left: 2px;
  /* Small shift with the button */
}

/* Input : Register */
#register__input {
  margin: 0 25px;
}
#register__input input {
  border: none;
  padding-left: 10px;
  box-shadow: 2px 2px 5px #56567b;
  border-radius: 2px;
  font-size: 1rem;
}
#register__input input:not(:focus):invalid ~ span {
  color: #FFF;
}

/* Button */
.register__button {
  font-family: Raleway-Bold;
  color: #FFF;
  background-color: #3065f8;
  border: none;
  border-radius: 3px;
  height: 40px;
  width: 100%;
  box-shadow: 1px 1px 5px #bfbfbf;
  cursor: pointer;
}
.register__button:hover {
  background-color: #6B9BFF;
}

/* Button : Register */
#register__input button {
  box-shadow: 2px 2px 5px #56567b;
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 0;
}

/* Header */
header {
  margin: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header #logo img {
  width: 80px;
}

nav ul {
  display: flex;
  font-family: Raleway-Regular;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}
nav ul li {
  margin-left: 25px;
  cursor: pointer;
}

/* Footer */
footer {
  background-color: #070439;
  color: #fff;
  padding: 65px 45px 30px;
  font-size: 1.5rem;
}
footer #contact__phone {
  margin: 37px 0 20px 0;
}
footer #contact__email {
  margin-bottom: 60px;
}
footer #contact img {
  margin-right: 20px;
}
footer ul {
  padding: 0;
  margin-bottom: 50px;
}
footer ul li {
  margin-bottom: 18px;
  width: fit-content;
  cursor: pointer;
}
footer ul li:hover {
  color: #6B9BFF;
}
footer a {
  color: #fff;
}
footer #social-media {
  display: flex;
  justify-content: center;
}
footer #social-media .icon {
  border: 1px #fff solid;
  border-radius: 15px;
  width: 25px;
  height: 25px;
  margin: 5px;
  text-align: center;
}
footer #social-media .icon:hover {
  color: #6B9BFF;
  border: 1px #6B9BFF solid;
  cursor: pointer;
}
footer #social-media i {
  padding: 7px;
  font-size: 1.2rem;
}
footer .attribution {
  font-size: 1rem;
  text-align: center;
  margin-top: 30px;
}

/* Section 1 : Présentation */
#presentation {
  margin: 90px 35px;
}
#presentation__image img {
  width: 100%;
}
#presentation__text {
  text-align: center;
}
#presentation__text h1 {
  font-family: OpenSans-Bold;
  font-size: 2.3rem;
  margin-top: 36px;
  line-height: 3.6rem;
}
#presentation__text p {
  line-height: 2rem;
}
#presentation__text .register {
  display: flex;
  flex-direction: column;
}

/* Section 2 : Description */
#description {
  background: url("../../images/bg-curve-mobile.svg") no-repeat;
  background-size: 750% 100%;
  /* width height */
  background-position-x: center;
  padding: 93px 25px 80px;
}
#description__image img {
  width: 100%;
}
#description__text h2 {
  font-family: Raleway-Bold;
  font-size: 1.5rem;
  margin: 85px 0 27px;
  text-align: center;
}
#description__text .text {
  color: #585989;
  line-height: 2rem;
  margin-bottom: 18px;
}
#description__text__link {
  display: flex;
  align-items: flex-end;
  border-bottom: 1px #3c9f8f solid;
  /* Bottom border */
  padding-bottom: 5px;
  /* Space between text and bottom border */
  width: fit-content;
  /* Border's width = text + image */
  margin: 37px auto;
  /* Center the div */
  color: #3c9f8f;
  cursor: pointer;
}
#description__text__link:hover {
  color: #33e1c1;
  border-bottom: 1px #33e1c1 solid;
}
#description__text__link p {
  margin: 0 10px 0 0;
  font-size: 1.2rem;
}
#description__text__link__arrow {
  width: 16px;
  height: auto;
}
#description__review {
  padding: 20px 24px 22px;
  margin: 40px 22px 0;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 20px #bfbfbf;
}
#description__review__quotes {
  width: 14px;
  height: auto;
}
#description__review__text {
  font-size: 1.05rem;
  margin-top: 2px;
  line-height: 1.8rem;
}
#description__review__person {
  display: flex;
  align-items: center;
}
#description__review__person img {
  width: 25px;
  border-radius: 25px;
  float: left;
}
#description__review__person__infos {
  margin-left: 10px;
}
#description__review__person__infos #name {
  margin: 0 0 2px;
  font-family: Raleway-Bold;
  font-size: 1rem;
}
#description__review__person__infos #profession {
  margin: 0;
  font-size: 0.7rem;
}

/* Section 3 : Register */
#register {
  background-color: #585989;
  color: #FFF;
  text-align: center;
  padding: 55px 45px 70px;
}
#register__text h2 {
  margin: 0;
  font-family: Raleway-Bold;
  font-size: 1.8rem;
}
#register__text p {
  line-height: 2rem;
  margin: 20px 0 7px;
}

/*# sourceMappingURL=style.css.map */
