@charset "UTF-8";
/* Font-family */
/* Font-size */
/* Margins & Paddings */
/* Colors */
/* Border-radius */
/* Height */
/* Width */
/* Landscapes phones */
/* Medium devices : Tablets */
/* Large devices : Small-desktops */
/* Large devices : Large-desktops */
/* Desktops - small and large */
/* Tablets minimun */
/* Desktops sections' position */
/* Large desktops titles */
html {
  font-size: 62.5%;
}

* {
  list-style-type: none;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: OpenSans-Regular;
  font-size: 1.4rem;
  color: #070439;
}
@media (min-width: 768px) and (max-width: 991px) {
  body {
    font-size: 1.6rem;
  }
}
@media (min-width: 1200px) {
  body {
    font-size: 1.9rem;
  }
}

@font-face {
  font-family: OpenSans-Regular;
  src: url(../../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: OpenSans-Bold;
  src: url(../../fonts/OpenSans-Bold.ttf);
}
@font-face {
  font-family: Raleway-Regular;
  src: url(../../fonts/Raleway-Regular.ttf);
}
@font-face {
  font-family: Raleway-Bold;
  src: url(../../fonts/Raleway-Bold.ttf);
}
/* Input */
.register__input {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.register__input input {
  margin: 19px 0 16px;
}
.register__input input::placeholder {
  color: #bfbfbf;
  font-family: Raleway-Regular;
}
.register__input input:not(:focus):invalid {
  border: 1px #eb9393 solid;
  margin-bottom: 5px;
  /* Remove margin-bottom when the input is invalid */
}
.register__input input:not(:focus):invalid ~ span {
  display: flex;
  /* Show the error message */
  color: #eb9393;
  font-size: 1rem;
  margin-bottom: 10px;
  /* Create a margin-bottom between the error message and the button */
}
@media (min-width: 768px) and (max-width: 991px) {
  .register__input input:not(:focus):invalid ~ span {
    font-size: 1.17rem;
  }
}
@media (min-width: 1200px) {
  .register__input input:not(:focus):invalid ~ span {
    font-size: 1.6rem;
    margin-top: 5px;
  }
}
.register__input span {
  display: none;
  /* Hide the error message */
}

/* Input : Presention */
#presentation__text__register__input {
  margin-left: 2px;
  /* Small shift with the button */
}
@media (min-width: 1200px) {
  #presentation__text__register__input {
    width: 59.26%;
    max-width: 320px;
  }
}
#presentation__text__register__input input {
  border: 1px #070439 solid;
  border-radius: 3px;
  padding-left: 20px;
  height: 36px;
  font-size: 1.2rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  #presentation__text__register__input input {
    font-size: 1.4rem;
    height: 42px;
  }
}
@media (min-width: 1200px) {
  #presentation__text__register__input input {
    margin: 0;
    /* Align the input with the button */
    height: 43px;
    font-size: 1.6rem;
  }
}

/* Input : Register */
#register__block__input {
  margin: 0 25px;
}
@media (min-width: 768px) and (max-width: 991px) {
  #register__block__input {
    margin: 0 35px;
  }
}
@media (min-width: 992px) {
  #register__block__input {
    width: 39%;
    /* Input and button width */
    max-width: 480px;
  }
}
#register__block__input input {
  border: none;
  padding-left: 10px;
  margin-bottom: 8px;
  box-shadow: 2px 2px 5px #56567b;
  border-radius: 2px;
  font-size: 1rem;
  height: 30px;
}
@media (min-width: 768px) and (max-width: 991px) {
  #register__block__input input {
    padding-left: 12px;
    margin-bottom: 11px;
    font-size: 1.17rem;
    height: 35px;
  }
}
@media (min-width: 992px) {
  #register__block__input input {
    height: 45px;
    margin-bottom: 16px;
    padding-left: 20px;
    font-size: 1.3rem;
  }
}
#register__block__input input:not(:focus):invalid ~ span {
  color: #FFF;
}
@media (min-width: 1200px) {
  #register__block__input input:not(:focus):invalid ~ span {
    margin: -10px 0 12px;
    font-size: 1.2rem;
  }
}

/* Button */
.register__button {
  font-family: Raleway-Bold;
  color: #FFF;
  background-color: #3065f8;
  border: none;
  border-radius: 3px;
  height: 40px;
  width: 100%;
  box-shadow: 1px 1px 5px #bfbfbf;
  cursor: pointer;
}
@media (min-width: 768px) and (max-width: 991px) {
  .register__button {
    height: 46px;
  }
}
@media (min-width: 1200px) {
  .register__button {
    height: 45px;
    width: 37%;
    max-width: 200px;
    font-size: 1.4rem;
  }
}
.register__button:hover {
  background-color: #6B9BFF;
}

/* Button : Register */
#register__block__input button {
  box-shadow: 2px 2px 5px #56567b;
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 0;
  height: 32px;
}
@media (min-width: 768px) and (max-width: 991px) {
  #register__block__input button {
    font-size: 1.17rem;
    height: 37px;
  }
}
@media (min-width: 992px) {
  #register__block__input button {
    width: 42%;
    min-width: 200px;
    height: 48px;
    font-size: 1.4rem;
  }
}

/* Header */
header {
  margin: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 577px) and (max-width: 767px) {
  header {
    margin: 40px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  header {
    margin: 55px;
  }
}
@media (min-width: 992px) {
  header {
    margin: 60px 77px;
  }
}
header #logo img {
  width: 80px;
}
@media (min-width: 768px) and (max-width: 991px) {
  header #logo img {
    width: 110px;
  }
}
@media (min-width: 992px) {
  header #logo img {
    width: 170px;
  }
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  font-family: Raleway-Regular;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) and (max-width: 991px) {
  nav ul {
    font-size: 1.4rem;
  }
}
@media (min-width: 992px) {
  nav ul {
    font-size: 1.6rem;
  }
}
nav ul li {
  margin-left: 25px;
  cursor: pointer;
}
@media (min-width: 768px) and (max-width: 991px) {
  nav ul li {
    margin-left: 45px;
  }
}
@media (min-width: 992px) {
  nav ul li {
    margin-left: 60px;
  }
}

/* Footer */
footer {
  background-color: #070439;
  color: #fff;
  padding: 65px 45px 30px;
  font-size: 1.5rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  footer {
    padding: 91px 63px 42px;
    font-size: 1.75rem;
  }
}
@media (min-width: 1200px) {
  footer {
    padding: 105px 77px 40px;
  }
}
footer #footer-logo {
  width: 166px;
}
@media (min-width: 1200px) {
  footer #footer-logo {
    width: 180px;
  }
}
footer > div {
  margin-top: 37px;
}
@media (min-width: 768px) {
  footer > div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  footer > div {
    margin-top: 20px;
  }
}
@media (min-width: 992px) {
  footer > div {
    margin-top: 5px;
  }
}
@media (min-width: 768px) {
  footer #contact {
    width: 34.37%;
    max-width: 500px;
  }
}
footer #contact__phone {
  margin-bottom: 20px;
}
footer #contact__email {
  margin-bottom: 60px;
}
footer #contact img {
  margin-right: 20px;
}
footer .footer-menu {
  width: 21.09%;
  max-width: 300px;
}
footer ul {
  padding: 0;
  margin-bottom: 50px;
}
footer ul li {
  margin-bottom: 18px;
  width: fit-content;
  cursor: pointer;
}
footer ul li:hover {
  color: #6B9BFF;
}
footer a {
  color: #fff;
}
footer #social-media {
  display: flex;
  justify-content: center;
}
footer #social-media .icon {
  border: 1px #fff solid;
  border-radius: 15px;
  width: 25px;
  height: 25px;
  margin: 5px;
  text-align: center;
}
@media (min-width: 768px) and (max-width: 991px) {
  footer #social-media .icon {
    margin-top: 25px;
  }
}
footer #social-media .icon:hover {
  color: #6B9BFF;
  border: 1px #6B9BFF solid;
  cursor: pointer;
}
footer #social-media i {
  padding: 7px;
  font-size: 1.2rem;
}
footer .attribution {
  font-size: 1rem;
  text-align: center;
  margin-top: 30px;
}
@media (min-width: 768px) and (max-width: 991px) {
  footer .attribution {
    font-size: 1.16rem;
  }
}

/* Section 1 : Présentation */
#presentation {
  width: auto;
  margin: 90px 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) and (max-width: 991px) {
  #presentation {
    margin: 120px 77px;
    text-align: center;
  }
}
@media (min-width: 992px) {
  #presentation {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-start;
  }
}
@media (min-width: 992px) {
  #presentation {
    margin: 85px 77px 150px;
  }
}
#presentation__image {
  width: 100%;
}
@media (min-width: 577px) and (max-width: 767px) {
  #presentation__image {
    max-width: 550px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #presentation__image {
    width: 85%;
    max-width: 750px;
  }
}
@media (min-width: 992px) {
  #presentation__image {
    width: 50%;
    max-width: 640px;
  }
}
#presentation__image img {
  width: 100%;
}
#presentation__text {
  text-align: center;
}
@media (min-width: 577px) and (max-width: 767px) {
  #presentation__text {
    max-width: 550px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #presentation__text {
    width: 85%;
    max-width: 750px;
  }
}
@media (min-width: 992px) {
  #presentation__text {
    width: 50%;
    max-width: 640px;
    text-align: left;
  }
}
#presentation__text h1 {
  font-family: OpenSans-Bold;
  font-size: 2.3rem;
  margin-top: 36px;
  line-height: 3.6rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  #presentation__text h1 {
    font-size: 2.7rem;
    margin-top: 50px;
  }
}
@media (min-width: 992px) {
  #presentation__text h1 {
    font-family: Raleway-Bold;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #presentation__text h1 {
    font-size: 2.5rem;
  }
}
@media (min-width: 1200px) {
  #presentation__text h1 {
    margin: 75px 0 0;
    font-size: 4rem;
    line-height: 6rem;
    text-align: left;
  }
}
#presentation__text p {
  line-height: 2rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  #presentation__text p {
    line-height: 2.3rem;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #presentation__text p {
    max-width: 450px;
  }
}
@media (min-width: 1200px) {
  #presentation__text p {
    line-height: 2.5rem;
    margin: 12px 0 7px;
  }
}
#presentation__text .register {
  display: flex;
  flex-direction: column;
}
@media (min-width: 992px) and (max-width: 1199px) {
  #presentation__text .register {
    width: 85%;
    /* Input and button width */
  }
}
@media (min-width: 1200px) {
  #presentation__text .register {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 25px;
    width: 91.52%;
    max-width: 540px;
  }
}

/* Section 2 : Description */
#description {
  width: auto;
  background: url("../../images/bg-curve-mobile.svg") no-repeat;
  background-size: 750% 100%;
  /* width height */
  background-position-x: center;
  padding: 93px 25px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) and (max-width: 991px) {
  #description {
    padding: 130px 55px 112px;
  }
}
@media (min-width: 992px) {
  #description {
    background: url("../../images/bg-curve-desktop.svg") no repeat;
    background-size: 400% 100%;
    /* width height */
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-start;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #description {
    padding: 130px 77px 112px;
  }
}
@media (min-width: 1200px) {
  #description {
    padding: 180px 77px 60px;
  }
}
#description__image {
  text-align: center;
  width: 100%;
}
@media (min-width: 577px) and (max-width: 767px) {
  #description__image {
    max-width: 550px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #description__image {
    width: 85%;
    max-width: 750px;
  }
}
@media (min-width: 992px) {
  #description__image {
    width: 41%;
    max-width: 540px;
  }
}
@media (min-width: 1200px) {
  #description__image {
    margin-top: 30px;
    /* Align vertically the illustration with the text */
  }
}
#description__image img {
  width: 100%;
}
@media (min-width: 577px) and (max-width: 767px) {
  #description__block {
    max-width: 550px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #description__block {
    width: 85%;
    max-width: 750px;
  }
}
@media (min-width: 992px) {
  #description__block {
    width: 59%;
    max-width: 740px;
  }
}
#description__block__text h2 {
  font-family: Raleway-Bold;
  font-size: 1.5rem;
  margin: 85px 0 27px;
  text-align: center;
}
@media (min-width: 768px) and (max-width: 991px) {
  #description__block__text h2 {
    font-size: 1.75rem;
    margin: 119px 0 38px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #description__block__text h2 {
    margin: 0 0 30px;
    /* Space between h2 and p */
    font-size: 2.5rem;
    text-align: left;
  }
}
@media (min-width: 1200px) {
  #description__block__text h2 {
    font-size: 4rem;
    line-height: 6rem;
    text-align: left;
    margin: 0 0 30px;
  }
}
#description__block__text .text {
  color: #585989;
  line-height: 2rem;
  margin-bottom: 18px;
}
@media (min-width: 768px) and (max-width: 991px) {
  #description__block__text .text {
    margin-bottom: 25px;
  }
}
@media (min-width: 992px) {
  #description__block__text .text {
    color: #070439;
    width: 78.78%;
    max-width: 520px;
  }
}
@media (min-width: 1200px) {
  #description__block__text .text {
    font-size: 1.6rem;
    line-height: 2.5rem;
    margin: 12px 0;
  }
}
#description__block__text__link {
  display: flex;
  align-items: flex-end;
  border-bottom: 1px #3c9f8f solid;
  /* Bottom border */
  padding-bottom: 5px;
  /* Space between text and bottom border */
  width: fit-content;
  /* Border's width = text + arrow */
  margin: 37px auto;
  /* Center the div */
  color: #3c9f8f;
  cursor: pointer;
}
@media (min-width: 768px) and (max-width: 991px) {
  #description__block__text__link {
    margin: 45px auto;
  }
}
@media (min-width: 992px) {
  #description__block__text__link {
    margin: 0;
    /* Align to the left */
  }
}
#description__block__text__link:hover {
  color: #33e1c1;
  border-bottom: 1px #33e1c1 solid;
}
#description__block__text__link p {
  margin: 0 10px 0 0;
  font-size: 1.2rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  #description__block__text__link p {
    font-size: 1.4rem;
  }
}
@media (min-width: 1200px) {
  #description__block__text__link p {
    font-size: 1.6rem;
  }
}
#description__block__text__link__arrow {
  width: 16px;
  height: auto;
}
@media (min-width: 768px) and (max-width: 991px) {
  #description__block__text__link__arrow {
    width: 18px;
  }
}
@media (min-width: 1200px) {
  #description__block__text__link__arrow {
    width: 22px;
  }
}
#description__block__review {
  padding: 20px 24px 22px;
  margin: 40px 22px 0;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 20px #bfbfbf;
}
@media (min-width: 768px) and (max-width: 991px) {
  #description__block__review {
    padding: 28px 33px 30px;
    margin: 56px 30px 0;
  }
}
@media (min-width: 992px) {
  #description__block__review {
    margin: 40px 0 0;
    width: 42%;
    max-width: 360px;
  }
}
@media (min-width: 1200px) {
  #description__block__review {
    padding: 20px 30px 25px;
    margin: 45px 0;
  }
}
#description__block__review__quotes {
  width: 14px;
  height: auto;
}
@media (min-width: 768px) {
  #description__block__review__quotes {
    width: 16px;
  }
}
#description__block__review__text {
  font-size: 1.05rem;
  margin-top: 2px;
  line-height: 1.8rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  #description__block__review__text {
    font-size: 1.23rem;
    margin-top: 2.8px;
    line-height: 2.1rem;
  }
}
@media (min-width: 1200px) {
  #description__block__review__text {
    font-size: 1.5rem;
    line-height: 2.2rem;
    margin: 5px 0 20px;
  }
}
#description__block__review__person {
  display: flex;
  align-items: center;
}
#description__block__review__person img {
  width: 25px;
  border-radius: 25px;
  float: left;
}
@media (min-width: 768px) and (max-width: 991px) {
  #description__block__review__person img {
    width: 29px;
  }
}
@media (min-width: 992px) {
  #description__block__review__person img {
    width: 32px;
  }
}
#description__block__review__person__infos {
  margin-left: 10px;
}
@media (min-width: 768px) and (max-width: 991px) {
  #description__block__review__person__infos {
    margin-left: 14px;
  }
}
#description__block__review__person__infos #name {
  margin: 0 0 2px;
  font-family: Raleway-Bold;
  font-size: 1rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  #description__block__review__person__infos #name {
    margin-bottom: 3px;
  }
}
@media (min-width: 1200px) {
  #description__block__review__person__infos #name {
    font-size: 1.2rem;
  }
}
#description__block__review__person__infos #profession {
  margin: 0;
  font-size: 0.7rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  #description__block__review__person__infos #profession {
    font-size: 0.8rem;
  }
}
@media (min-width: 1200px) {
  #description__block__review__person__infos #profession {
    font-size: 0.9rem;
  }
}

/* Section 3 : Register */
#register {
  background-color: #585989;
  color: #FFF;
  padding: 54px 45px 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) and (max-width: 991px) {
  #register {
    padding: 76px 63px 98px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #register {
    padding: 80px 77px 60px;
  }
}
@media (min-width: 1200px) {
  #register {
    padding: 110px 95px 75px 77px;
  }
}
@media (min-width: 577px) and (max-width: 767px) {
  #register__block {
    max-width: 550px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #register__block {
    max-width: 750px;
  }
}
@media (min-width: 992px) {
  #register__block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
}
#register__block__text {
  text-align: center;
}
@media (min-width: 992px) {
  #register__block__text {
    text-align: left;
    width: 61%;
    max-width: 760px;
  }
}
#register__block__text h2 {
  margin: 0;
  font-family: Raleway-Bold;
  font-size: 1.8rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  #register__block__text h2 {
    font-size: 2.1rem;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #register__block__text h2 {
    font-size: 2.5rem;
  }
}
@media (min-width: 1200px) {
  #register__block__text h2 {
    font-size: 3rem;
  }
}
#register__block__text p {
  line-height: 2rem;
  margin: 20px 0 7px;
}
@media (min-width: 768px) and (max-width: 991px) {
  #register__block__text p {
    line-height: 2.3rem;
    margin: 28px 0 10px;
  }
}
@media (min-width: 992px) {
  #register__block__text p {
    font-size: 1.7rem;
    line-height: 2.5rem;
    width: 68%;
    max-width: 520px;
  }
}

/*# sourceMappingURL=style.css.map */
