/* Button */
.register__button {
    font-family: $btn-font;
    color: $btn-color;
    background-color: $btn-background;
    border: none;
    border-radius: $border-radius;
    height: map-get($map: $btn-height, $key: mobile);
    width: 100%;
    box-shadow: 1px 1px 5px $placeholder-color;
    cursor: pointer;
    @include tablets {
        height: map-get($map: $btn-height, $key: tablet);
    }
    @include large-desktops {
        height: 45px;
        width: 37%;
        max-width: 200px;
        font-size: 1.4rem;
    }
    &:hover {
        background-color: $btn-background-hover;
    }
}

/* Button : Register */
#register__block__input {
    & button {
        box-shadow: 2px 2px 5px $register-shadow;
        font-size: map-get($map: $register-input, $key: mobile);
        padding: 10px 20px;
        border-radius: 0;
        height: 32px;
        @include tablets {
            font-size: map-get($map: $register-input, $key: tablet);
            height: 37px;
        }
        @include desktops {
            width: 42%;
            min-width: 200px;
            height: 48px;
            font-size: 1.4rem;
        }
    }
}