/* Input */
.register__input {
    display: flex;
    flex-direction: column;
    width: 100%;
    & input {
        border: 1px $main-color solid;
        border-radius: $border-radius;
        padding-left: 20px;
        margin: 19px 0 16px;
        height: map-get($map: $input-height, $key: mobile);
        font-size: 1.2rem;
        &::placeholder {
            color: $placeholder-color;
            font-family: $input-font;
        }
        &:not(:focus):invalid {
            border: 1px $error-clr solid;
            margin-bottom: 5px; /* Remove margin-bottom when the input is invalid */
            & ~span {
                display: flex; /* Show the error message */
                color: $error-clr;
                font-size: $register-input;
                margin-bottom: 10px; /* Create a margin-bottom between the error message and the button */
            }
            
        }
    }
    & span {
        display: none; /* Hide the error message */
    }
}

/* Input : Presention */
#presentation__text__register__input {
    margin-left: 2px; /* Small shift with the button */
}

/* Input : Register */
#register__input {
    margin: 0 25px;
    & input {
        border: none;
        padding-left: 10px;
        margin-bottom: 8px;
        box-shadow: 2px 2px 5px $register-shadow;
        border-radius: 2px;
        font-size: $register-input;
        height: 30px;
        &:not(:focus):invalid {
            & ~span {
                color: #FFF;
            }
        }
    }
}