/* Section 3 : Register */
#register {
    background-color: $register-bg;
    color: #FFF;
    text-align: center;
    padding: 55px 45px 70px;
    &__text {
        & h2 {
            margin : 0;
            font-family: $h2-font;
            font-size: 1.8rem;
        }
        & p {
            line-height: map-get($map: $p-height, $key: mobile);
            margin: 20px 0 7px;
        }
    }
}