/* Landscapes phones */
@mixin small-devices {
    @media (min-width: 577px) and (max-width: 767px) {
        @content;        
    }    
}

/* Medium devices : Tablets */
@mixin tablets {
    @media (min-width: 768px) and (max-width: 991px) {
        @content;
    }
}

/* Large devices : Small-desktops */
@mixin small-desktops {
    @media (min-width: 992px) and (max-width: 1199px) {
        @content;
    }    
}

/* Large devices : Large-desktops */
@mixin large-desktops {
    @media (min-width: 1200px) {
        @content;
    }
    
}

/* Desktops - small and large */
@mixin desktops {
    @media (min-width: 992px) {
        @content;
    }    
}

/* Tablets minimun */
@mixin min-tablets {
    @media (min-width: 768px) {
        @content;   
    }    
}

/* Desktops sections' position */
@mixin section-position {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
}

/* Large desktops titles */
@mixin desktop-titles {
    font-size: map-get($map: $h1-size, $key: large-desktop);
    line-height: map-get($map: $h1-height, $key: large-desktop);
    text-align: left;
}