/* Landscapes phones */
@mixin small-devices {
    @media (min-width: 577px) and (max-width: 767px) {
        @content;        
    }    
}

/* Medium devices : Tablets */
@mixin tablets {
    @media (min-width: 768px) and (max-width: 991px) {
        @content;
    }
}

/* Large devices : Desktops */
@mixin small-desktops {
    @media (min-width: 992px) and (max-width: 1199px) {
        @content;
    }    
}

/* Desktops sections' position */
@mixin section-position {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}