/* Font-family */
$nav-font: Raleway-Regular;
$h1-font: (phones: OpenSans-Bold, tablet-desktop: Raleway-Bold);
$h2-font: Raleway-Bold;
$p-font: OpenSans-Regular;
$input-font: Raleway-Regular;
$btn-font: Raleway-Bold;

/* Margins & Paddings */
$margin: (body: 25px);

/* Colors */
$main-color: hsl(243, 87%, 12%);