/* Header */
header {
    margin: map-get($map: $margin-phone, $key: body);
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include small-devices {
        margin: $margin-small-devices;
    }
    @include tablets {
        margin: map-get($map: $margin-tablet, $key: body);
    }
    @include desktops {
        margin: 60px map-get($map: $margin-desktop, $key: body);
    }
    & #logo {
        & img {
            width: 80px;
            @include tablets {
                width: 110px;
            }
            @include desktops {
                width: 170px;
            }
        }
    }
}

nav {
    & ul {
        display: flex;
        flex-wrap: wrap;
        font-family: $nav-font;
        font-size: 1.2rem;
        margin: 0;
        padding: 0;
        @include tablets {
            font-size: 1.4rem;
        }
        @include desktops {
            font-size: 1.6rem;
        }
        & li {
            margin-left: 25px;
            cursor: pointer;
            @include tablets {
                margin-left: 45px;
            }
            @include desktops {
                margin-left: 60px;
            }
        }
    }
}