/* Header */
header {
    margin: map-get($map: $margin-phone, $key: body);
    display: flex;
    justify-content: space-between;
    align-items: center;
    & #logo {
        & img {
            width: 80px;
        }
    }
}

nav {
    & ul {
        display: flex;
        flex-wrap: wrap;
        font-family: $nav-font;
        font-size: 1.2rem;
        margin: 0;
        padding: 0;
        & li {
            margin-left: 25px;
            cursor: pointer;
        }
    }
}